:root{
    --toc-1: #ffc41588;
    --toc-2: #ffe615;
    --toc-3: #ffe8152d;
    --toc-4: #c2b222;
    --toc-5: #ffc41562;
    --toc-6: #ffc41562;
    --toc-7: #ffe8152d;
    --toc-8: #ffc41562;
    --toc-9: #ffc41528;
    --toc-10: #ffc515;
    --toc-11: #ffc41562;
    --toc-12: #ffc41562;
}

.sidebar {
    color: $theme-white;
    background: $theme-menu-background;
  
    a {
      text-decoration: none;
    }
  
    li {
      list-style: none;
    }
    .version {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  
  .toctree {
    a {
      color: $theme-white;
      padding: 0.5em;
    }
  
    .caption {
      color: lighten($theme-blue, 15%);
      font-weight: $font-weight-bold;
      line-height: 32px;
    }
  
    .fa {
      margin-right: 2px;
    }
  
    > ul {
      // the first level links
      > .toc > a {
        padding-left: $spacer-4 / 2;
      }
  
      // the first level links not current
      > .toc:not(.current) > a {
        &:hover {
          background: $theme-mask-white;
        }
        &:active {
          background: $theme-menu-active-background;
        }
      }
  
      .toc.current {
        // all expanded links
        a {
          color: #ffc515;
  
          &:hover {
            background: $theme-mask-white;
          }
          &.current {
            font-weight: bold;
            background: $theme-white;
            border-top: 1px solid var(--toc-2);
            border-bottom: 1px solid var(--toc-2);
          }
        }
        // parent links
        > a {
          .fa-plus-square-o {
            @extend .fa-minus-square-o;
          }
        }
      }
      // fixed level-1's hover mask
      > .toc.current {
        background: var(--toc-1);
      }
    }
  }
  
  // toc layout
  .toc {
    > ul {
      @extend .d-none;
    }
    @for $level from 1 through 11 {
      &.level-#{$level}.current {
        > a {
          padding-left: $spacer-4 * ($level - 1 + 0.5);
          background: var(--toc-#{$level});
        }
  
        > ul {
          @extend .d-block;
          background: var(--toc-#{$level + 1});
        }
  
        .level-#{$level + 1} > a {
          padding-left: $spacer-4 * ($level + 0.5);
        }
      }
    }
  }
  

  .addons-wrap {
    background-color: darken($theme-menu-background, 8%);
  
    .status {
      cursor: pointer;
      background-color: darken($theme-menu-background, 5%);
  
      .branch {
        .fa {
          color: $theme-white;
        }
  
        .name {
          color: $green;
        }
      }
      &:active {
        background: $theme-menu-active-background;
      }
    }
  
    .addons {
      color: #ffc515;
  
      dl {
        margin: 0;
      }
  
      dd {
        display: inline-block;
  
        a {
          display: inline-block;
          padding: 6px;
          color: $theme-white;
        }
      }
    }
  }
  


  .header {
    color: $theme-white;
    background: $theme-blue;
  
    input {
      border-radius: 50px;
      border: 1px solid #ffc515;
      font-size: 80%;
    }
  }
  

 