:root{
    --toc-1: #ffc41588;
    --toc-2: #ffe615;
    --toc-3: #ffe8152d;
    --toc-4: #c2b222;
    --toc-5: #ffc41562;
    --toc-6: #ffc41562;
    --toc-7: #ffe8152d;
    --toc-8: #ffc41562;
    --toc-9: #ffc41528;
    --toc-10: #ffc515;
    --toc-11: #ffc41562;
    --toc-12: #ffc41562;
}
  .header {
    background:#ffc515;
  
    }

    .sidebar{
        color:#404040;
        background:#ffc515;
    }
    .sidebar a{
        text-decoration:none
    }
    .sidebar li{
        list-style:none
    }
    .sidebar .version{
        color:#333332
    }
    .toctree a{
        color:#333332;
        padding:.5em
    }
    .toctree a:hover{
        color:#ffc515;
        background:#333332;
        padding:.5em
    }
    .addons {
        background-color:#ffc515;         
    }
    .addons-wrap{
        background-color:#ffc515;
    }
    .addons-wrap .status{
        cursor:pointer;
        background-color:#ffc515;
    }
    .addons-wrap .status .branch .fa{
        color:#fff
    }
    .addons-wrap .status .branch .name{
        color:#28a745
    }
    .addons-wrap .status .branch .version{
        color:#ffc515
    }