:root{
    --toc-1: #ffc41588;
    --toc-2: #ffe615;
    --toc-3: #ffe8152d;
    --toc-4: #c2b222;
    --toc-5: #ffc41562;
    --toc-6: #ffc41562;
    --toc-7: #ffe8152d;
    --toc-8: #ffc41562;
    --toc-9: #ffc41528;
    --toc-10: #ffc515;
    --toc-11: #ffc41562;
    --toc-12: #ffc41562;
}
  .header {
    background:#ffc515;
  
    }

    .addons {
        color:#ffc515;
    
       
    }